/* STYLE GLOBAL*/
a, i {
    transition: 0.5s;
    text-decoration: none;
}

/* COLOR TEXT */
.text-p-black {
    color: #1B1B1B;
}

.text-h1-white {
    color: #E6E6E6;
}

.text-p-white {
    color: #E6E6E6;
}

.text-h2-black {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #1B1B1B;
}

/* HEADER */
#header {
    height: 130px;
    padding: 20px;
    background-color: #1B1B1B;
    text-align: center;
    border-bottom: 3px solid #713B3A;
}
   
#logo {
    width: 100px;
    height: 50px;
    margin-right: 8px;
    background-color: #1B1B1B;
}

#header p {
    margin-bottom: 0;
    color: #E6E6E6;
    background-color: #1B1B1B;
}

#header h1,
#header p {
    font-family: "Cabin", sans-serif;
}

#logo-container {
    display: flex;
    justify-content: center;
}


#header h1 {
    padding-top: 8px;
}

@media(min-width: 768px) {
    #header {
        height: 160px;
        padding-top: 40px;
    }
    #logo {
        width: 140px;
        background-size: 140px;
        height: 70px;
    }
    #header h1 {
        padding-top: 0;
    }
}


/* NAVBAR */
#navbar {
    padding: 10px;
    margin: 10px auto;
}

#navbar a {
    width: 80px;
    color: #1B1B1B;
    font-weight: 500;
}

#navbar a:hover {
    color: #713B3A;
    text-decoration: underline;
    font-weight: 500;
}


/* SLIDER BANNER */
#banners-container {
    padding: 0;
}

#banners-container p {
    color: #E6E6E6;
}

.carousel-caption {
    background-color: #1B1B1B;
    bottom: 1em;
    padding: 1em;
    left: 12%;
    right: 12%;
    border-radius: 10px;
}


.carousel-caption h5 {
    font-size: 1em;
}
    
@media (min-width: 768px) {
    #slider .carousel-item,
    #slider img {
        height: 750px;
    }
    .carousel-caption {
        left: 23%;
        right: 23%;
    }
    .carousel-caption h5 {
        font-size: 3em;
    }
}

/* PRESENTATION */
#presentation {
    margin-top: 20px;
}

#presentation .card {
    border-width: 0;
}

#presentation img {
    width: 400px;
}

#presentation #text, #presentation span {
    width: 350px;
    align-items: center;
    padding: 20px;
    color: #1B1B1B;
    background-color: #FFF;
}

@media (min-width: 768px) {
    #presentation #text, #presentation span {
        width: 450px;
    }
}


/* Armoured-car */
#armoured-car {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

#armoured-car img {
    width: 350px;
}

#armoured-car .text-p-black{
    margin-top: 20px;
    padding: 20px;
    text-align: justify;
}

@media (min-width: 768px) {
    #armoured-car img {
        width: 450px;
        margin-top: 80px;
    }
}

/* Car description */

#car-description .card {
    margin-bottom: 20px;
}

#car-description .card p {
    padding: 20px;
}

/* Travel description */

#travel-description {
    margin-top: 30px;
}

#travel-description #text {
    padding: 20px;
    padding-top: 40px;
}

/* Carousel driver*/

#carousel-driver {
    margin-top: 20px;
}

#carousel-driver .carousel-item {
    padding-top: 40px;
    text-align: center;
}

#driver {
    background-color: #1B1B1B;
    height: 450px;
   
}

.carousel-item img {
    width: 200px;
    
}

#driver .name-driver h5 {
    padding-top: 15px;
    font-size: 1em;
    color: #E6E6E6;
}

#driver .name-driver p {
    font-size: 2em;
    color: #E6E6E6;
}

/* Contact */

#contact {
    margin-top: 30px;
    margin-bottom: 30px;
}

#contact p {
    padding-top: 20px;
}

#contact-img img {
    width: 300px;
}

#contact-img {
    margin-top: 50px;
    text-align: center;
}

#contact .bi{
    font-size: 1.2em;
}

#contact a {
    color: #1B1B1B;
    text-decoration: none;
}

#contact a:hover {
    color: #713B3A;
    text-decoration: underline;
}


/* Footer developer */
#footer-developer {
    padding: 20px;
    height: 100px;
    background-color: #1B1B1B;
    text-align: center;
}
#footer-developer p {
    margin: 0 auto;
    color: #E6E6E6;
}


/* WHATSAPP */
#whatsapp {
    font-size: 3em;
    padding-bottom: 30px;
}








/* PALETAS DE CORES 
*{
    background-color: #D3D3D3;
    background-color: #E6E6E6;
    background-color: #713B3A;
    background-color: #202020;
    background-color: #1B1B1B;
}
*/